<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<body>
    {% for message in messages %}
{{message}}
{% endfor %}
    <h3>signin</h3>
    <form action="/signin" method="post">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username"placeholder="create your  username"Required>
        <br>

        <label for="">password</label>
        <input type="password" id="pass1" name="pass1"placeholder="enter your password"Required>
        <br>

        <button type="submit">Sign in</button>
    </form>
    <script src="" async defer></script>
    
</body>
</html>